.idea*
build/*
logs/*
conf/gen/*
*.pyc
generated/*
/conf/deployment/DeploymentConf.GEN.Wallet.yaml
/conf/server/*
/conf/clientGen/ClientConf.TEMPLATE.yaml
/conf/deployment/DeploymentConf.OVERWRITE.yaml
unblockableEnv
