html, body {
   height: 100%;
   margin: 0;
   padding: 0;
   font-family: sans-serif;
}

body {
   display: flex;
   flex-direction: column;
}

a {
   text-decoration: none;
}

button {
   padding: 10px;
   border-style: outset;
   margin: 5px;
}

button:hover {
   border-style: outset;
   background-color: gold;
}

.body_wrapper {
   display: flex;
   flex-direction: column;
   flex-grow: 1;
   height: 100%;
}

.btn_c-index-include:hover {
   background-color: gold;
}

.c-in-index {
   background-color: lightgreen;
}

.c_status__reg-allowed {
   background-color: #f9fb8e;
}

.c_status__registered {
   background-color: lightgreen;
}

.panel {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
}

.header {
   display: flex;
   background-color: black;
   color: white;
   padding: 30px;
   justify-content: space-between;
   align-items: flex-end;
}

.header_l0 {
   font-size: 2em;
   margin-bottom: 10px;
}

.header_l1 {
   font-size: 0.9em;
}

.header_right {
   font-size: 0.9em;
   color: greenyellow;
}

.panel-header {
   background-color: grey;
   color: white;
   padding: 10px;
   background-color: black;
}

.panel-body {
   display: flex;
   flex-direction: column;
   flex-grow: 1;
   min-height: 120px;
   height: 100%; /* rm if possible */
}

.p_top {
   padding: 10px;
}

.p_status {
   flex-basis: 20%;
}

.p_status_sect-label {
   display: flex;
   flex-direction: column;
   justify-content: center;
   font-family: monospace;
   align-items: center;
   flex-basis: 10%;
   margin-right: 10px;
   flex-shrink: 0;
}

.p_status_sect-label-server {
   background-color: #99e2ff;
}

.p_status_sect-label-client {
   background-color: lightgrey;
}

.p_status__client {
   display: flex;
   flex-basis: 70%;
}

.client-set {
   display: flex;
   flex-direction: column;
   flex-grow: 1;
}

.p_status__server {
   display: flex;
   flex-basis: 40%;
}

.tool-section {
   padding: 10px;
   align-items: center;
   display: flex;
}

.tool-section_s {
   
}

.tool-section_c {
   
}

.panel_tool {
   
}

.panel_output {
   flex-grow: 1;
}

.panel_console {
   flex-basis: 20%;
}

.panel_console_body {
   padding-left: 10px;
   overflow-y: scroll;
}

.client-row {
   display: flex;
   font-family: monospace;
   justify-content: space-between;
   padding-left: 10px;
   line-height: 30px;
}

.client-row:nth-of-type(even) {
   background-color: #e1e1e1;
}

.client-row:nth-of-type(odd) {
   background-color: #c1c1c1;
}

.client-row:hover {
   /*   background-color: #c1c1c1; */
}

.client-selected {
   background-color: gold;
}

.cmd-item-wrapper {
   display: flex;
   flex-direction: column;
}

.cmd-row {
   display: flex;
   justify-content: space-between;
   font-family: monospace;
   paddi ng: 3px;
   padding-left: 10px;
   line-height: 30px;
}

.cmd-row-expand {
   display: flex;
   flex-direction: column;
   padding: 10px;
   font-family: monospace;
   background-color: #fdf2b6;
}

.cmd-row_shell-cmd {
   color: green;
}

.cmd-row_output {
   color: red;
}

.cmd_status__ok {
   background-color: greenyellow;
}

.cmd_status__err {
   background-color: red;
}

.cmd_status__pending {
   background-color: yellow;
}

.in_client-cmd {
   padding: 5px;
   background-color: aliceblue;
   font-size: 1.2em;
   height: 25px;
   width: 48ch;
   font-family: monospace;
}

.log-line {
   font-family: monospace;
   line-height: 30px;
   white-space: nowrap;
}